<% if params[:model]=="User"%>
  <h1>Users search for "<%= params[:q] %>"</h1>
  <%= render 'users/index', users: @users%>
<% else %>
  <h1>Books search for "<%= params[:q] %>"</h1>
  <%= render 'books/index', books: @books%>
<% end %>

